<p id="notice"><%= notice %></p>

<p>
  <strong>Roomname:</strong>
  <%= @room.roomname %>
</p>

<p>
  <strong>Description:</strong>
  <%= @room.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @room.location %>
</p>

<p>
  <strong>Ratings:</strong>
  <%= @room.ratings %>
</p>

<p>
  <strong>Price:</strong>
  <%= @room.price %>
</p>

<%= image_tag(@room.picture_url, width: 600) if @room.picture.present? %>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
